@font-face {
  font-family: "Playfair";
  src: url("./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
