@font-face {
  font-family: 'Playfair';
  src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

html {
  font-size: 16px;
}

body {
  padding: 1rem;
  max-width: 850px;

  display: grid;
  row-gap: 3rem;
  margin: 0 auto 0;
}

/* HEADER */
.header {
  display: grid;
  gap: 10px;
  justify-items: center;
}
header::before {
  content: '';
  height: 230px;
  background-color: cornflowerblue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform-origin: bottom left;
  transform: skewY(-18deg);
  z-index: -1;
}
.header__image-container {
  position: relative;
}
.header__image {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.header__name {
  color: white;
  position: absolute;
  bottom: 0;
}
.header__title {
  padding-top: 10px;
}
.header__para {
  color: gray;
}
.header__icons-container {
  display: flex;
  gap: 15px;
  justify-content: center;
}
@media (500px <= width <=1000px) {
  .header {
    display: block;
    background-color: white;
    margin: 5rem 4rem 0 4rem;
    padding: 0 1rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  }
  header::before {
    height: 270px;
    transform: skewY(-10deg);
  }
  .header__image-container {
    float: left;
    margin-right: 1rem;
    height: 140px;
  }
  .header__image {
    margin-left: -50px;
    margin-top: -70px;
  }
  .header__name {
    top: -40%;
    right: -110%;
    min-width: max-content;
  }
  .header__title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 15px;
  }
  .header__icons-container {
    padding-top: 25px;
    padding-bottom: 1rem;
    justify-content: flex-end;
  }
}
@media (width > 1000px) {
  .header {
    margin-top: 3rem;
    padding-right: 2rem;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    height: 220px;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, min-content);
    align-items: center;
    align-content: center;
    gap: 0;
  }
  header::before {
    transform: skewY(-7deg);
  }
  .header__image-container {
    grid-row: 1/4;
    margin-right: 2rem;
  }
  .header__image {
    width: 250px;
  }
  .header__name {
    left: 50%;
    transform: translate(-50%);
    min-width: max-content;
    bottom: 5px;
  }
  .header__title {
    align-self: flex-end;
  }
  .header__icons-container {
    align-self: flex-start;
    justify-self: end;
  }
}

/* PROJECTS */
.projects__title {
  text-align: center;
}
.projects {
  display: grid;
  gap: 20px;
}
.projects__cards-container > * {
  outline: 1px solid blue;
}
.projects__cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 40px;
}
.card {
  background-color: cornflowerblue;
  min-width: 100%;
  border-radius: 5px;
  height: 330px;

  display: grid;
  grid-template-rows: 200px 1fr;
}
.card__details-container {
  background-color: whitesmoke;
  padding: 15px;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content 1fr;
  gap: 10px;
}
.card__description {
  grid-column: 1/3;
}
.card__icons-container {
  display: flex;
  gap: 10px;
}

/* FOOTER */
footer {
  background-color: cornflowerblue;
  margin: 0 -1rem;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-info {
  color: white;
  padding: 20px 1rem 0 1rem;

  display: grid;
  gap: 20px;
}
.contact-info__title {
  text-align: center;
}
.contact-info__icons-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.contact-info__headshot {
  min-width: 100%;
}

/* FONTS */
h1,
h2,
h3 {
  font-family: 'Playfair';
}

/* IMAGES */
img {
  width: 200px;
}
.icon {
  width: 20px;
}
